<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@TITLE@</title>
<link rel="stylesheet" href="@ROOT@style.css">
<link rel="icon" type="image/png" sizes="32x32" href="@ROOT@images/favicon-32.png">
<link rel="apple-touch-icon" href="@ROOT@images/apple-touch-icon.png">
@EXTRA@<link rel="alternate" type="application/atom+xml" title="OxideBSD news" href="@ROOT@news/atom.xml">
</head>
<body>
<header>
<a class="site" href="@ROOT@"><img src="@ROOT@images/logo.png" alt="OxideBSD" width="162" height="32"></a>
<nav>
<a href="@ROOT@news/">News</a>
<a href="@ROOT@download.html">Download</a>
<a href="@ROOT@man/">Manual pages</a>
<a href="@ROOT@doc/">Design</a>
<a href="https://github.com/OxideBSD">Source</a>
</nav>
</header>
<main>
